# folders to ignore
logs
test_elephant_castle
cache
deprecated
__pycache__/
jobs

# results folder: keep folder, ignore contents
results/*
!results/.gitkeep

# files to ignore
*.pbf
*.html
*.csv
*.parquet

generate_html.py
generate_distribution.py